<!-- TODO: 사용자가 책 옆에 장바구니 버튼을 클릭하면 책에 대한 모든 정보가 사용자의 장바구니로 책의 모든 정보가 전송
1.  도서에 대한 상품 정보, 수량, 상품 금액, 배송정보, 주문버튼
2. 상품을 상품별로 선택하여 선택한 상품에 대한 주문하기, 삭제 버튼
3. 선택한 상품에 대해서 총 주문금액, 총 주가금액, 총 할인금액, 최종 결제 금액
4. 사용자의 배송지 정보
5. 주문하기, 쇼핑 계속하기 버튼-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>