<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/stylesheets/style.css">
    <title>COCOBOOK</title>
</head>
<body>
    <h1>COCOBOOK WELCOME!</h1>
    <div>
        <input type="text" placeholder="검색어를 입력해주세요.">
        <button>검색</button>
    </div>
    <button id="main">로그인</button>
    <button id="main">회원가입</button>
    <button id="main">마이페이지</button>
    <button id="main">장바구니</button>

</body>
</html>