<!-- TODO: 한 도서에 대한 그룹을 클릭하면 해당 도서에 대한 상세보기
1. 도서 사진과 도서 정보(제목, 저자, 출판사, 출간일, 금액)
2. 장바구니 담기, 바로구매 버튼  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>